#! /bin/bash

## set access keys, profile etc. -

# export AWS_ACCESS_KEY_ID=
# export AWS_SECRET_ACCESS_KEY=
# export AWS_SESSION_TOKEN=
# export AWS_REGION=

# set -x

##

echo caller identity is $(aws sts get-caller-identity --query Arn)

AWS_REGION="us-east-2"
MEDIA_EXCHNAGE_BUCKET_NAME="mxc-publisher-us-east-2-dev-latest-702582666339" ## bucketname can be found in the stack outputs section of publisher stack. 
KMS_KEY_ID="arn:aws:kms:us-east-2:xxxxx:key/xxxx" ## keyid can be found in the stack outputs section of agreement stack. 
SUBSCRIBER_CANNONICAL_ID="abcdef..." ## Cannonical Account Id used for subscriber setup

ORDER_ID='ORD-245778'
PREFIX='1-1' ## prefix used in subscriber setup
FILE_NAME='media-file.mp4'
echo generating a 1MB file
dd if=/dev/random of=/tmp/$FILE_NAME count=1024 bs=1024 2>/dev/null
CHECKSUM=$(openssl dgst -sha256 /tmp/$FILE_NAME | cut -d' ' -f2)
echo checksum is $CHECKSUM

echo copying to exchange 
aws s3api put-object --bucket $MEDIA_EXCHNAGE_BUCKET_NAME --key $PREFIX/$ORDER_ID/$FILE_NAME  --body /tmp/$FILE_NAME   --server-side-encryption aws:kms --ssekms-key-id $KMS_KEY_ID --grant-read id=$SUBSCRIBER_CANNONICAL_ID

#read 

PRODUCER_EXTERNAL_ID="abc@def.com" ## email used in producer setup
MXC_ROLE_ARN="arn:aws:iam::xxxxxx:role/xxx" ## role arn can be found in the stack outputs section of publisher stack. 
SESSION_NAME="mxc-read-session" ## any name, only for tracking/collating log data

echo assuming cross account role in media exchange
resp=$(aws sts assume-role --role-arn $MXC_ROLE_ARN --role-session-name $SESSION_NAME --external-id $PRODUCER_EXTERNAL_ID)

export AWS_ACCESS_KEY_ID=$(echo $resp | jq -r .Credentials.AccessKeyId)
export AWS_SECRET_ACCESS_KEY=$(echo $resp | jq -r .Credentials.SecretAccessKey)
export AWS_SESSION_TOKEN=$(echo $resp | jq -r .Credentials.SessionToken)

echo caller identity is $(aws sts get-caller-identity --query Arn)

echo getting list of objects
aws s3api list-objects-v2 --bucket $MEDIA_EXCHNAGE_BUCKET_NAME --prefix $PREFIX --fetch-owner

ts=$(date -u +'%Y-%m-%dT%H:%M:%SZ')

echo sending events

EVENT_BUS_NAME='mxc-events-xxxx-us-east-2-dev-latest' # event bus name : can be found in the stack outputs section of core stack. 
aws --region $AWS_REGION events put-events --entries "Time=$ts,Source=mxc.publisher,DetailType=Event from publisher,Detail='{
    \"eventVersion\": \"latest\",
    \"eventTime\": \"$ts\",
    \"eventSource\": \"mxc.mydomain.com\",
    \"eventName\": \"AssetsShared\",
    \"awsRegion\": \"$AWS_REGION\",
    \"sourceIPAddress\": \"52.95.4.10\",
    \"userAgent\": \"GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin18)\",
    \"assets\": {
        \"bucket\": \"$MEDIA_EXCHNAGE_BUCKET_NAME\",
        \"keys\": {
           \"$CHECKSUM\" : \"$PREFIX/$ORDER_ID/$FILE\"
        }
    },
    \"eventID\": \"1b0c5952-91c6-498d-bf5f-95c250920d8b\",
    \"eventType\": \"ApplicationEvent\",
    \"subscriberCannonicalAccountId\": \"$SUBSCRIBER_CANNONICAL_ID\"}',EventBusName=$EVENT_BUS_NAME"

rm -rf /tmp/$FILE_NAME
